<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">WebApplication1</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
			<ul class='nav navbar-nav'>
				<li [routerLinkActive]="['link-active']">
					<a [routerLink]="['/home']">
						<span class='glyphicon glyphicon-home'></span> Home
					</a>
				</li>
				<li [routerLinkActive]="['link-active']">
					<a [routerLink]="['/gamesnake']">
						<span class='glyphicon glyphicon-education'></span> game
					</a>
				</li>
				<li [routerLinkActive]="['link-active']">
					<a [routerLink]="['/maingame']">
						<span class='glyphicon glyphicon-th-list'></span> MainGame
					</a>
				</li>
				<li [routerLinkActive]="['link-active']">
					<a [routerLink]="['/battle']">
						<span class='glyphicon glyphicon-edit'></span> Battle
					</a>
				</li>
				<li [routerLinkActive]="['link-active']">
					<a [routerLink]="['/shop']">
						<span class='glyphicon glyphicon-edit'></span> Shop
					</a>
				</li>
			</ul>
        </div>
    </div>
</div>
